
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.justify-content-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.justify-content-end{
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.justify-content-between{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.align-items-center{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
body{
    width: 7.5rem;
    margin: 0 auto;
    padding: .88rem 0 0;
    position: relative;
}
.section-imageText{
    padding-bottom: 1rem;
    background-color: #fff;
}
.user-name{
    color: #fff;
}
.top{
    width: 7.5rem;
    height: .88rem;
    padding: 0 .2rem;
    background: #F54B5E;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
.top a{
    margin-top: 0!important;
}
.top .return{
    width: .48rem;
    height: .48rem;
    font-size: .48rem;
    color: #fff;
}
.top .share{
    width: .48rem;
    height: .48rem;
    font-size: .48rem;
    color: #fff;
}
.top .head-portrait{
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: #fff;
    margin-right: .2rem;
    overflow: hidden;
}
.and_more{
    width: 96%;
    margin: 0 auto;
}
.imageText-content{
    padding: .5rem .6rem .2rem;
    overflow: hidden;
    background-color: #fff;
}
.imageText-content p{
    padding-top: .2rem;
}
.imageText-content img{
    width: 100%;
}
.top .icon-change{
    position: fixed;
    right: .2rem;
    top: 1rem;
}
.top .icon-change i{
    display: block;
    width: .35rem;
    height: .35rem;
    font-size: .35rem;
}
.top .icon-change span{
    font-size: .3rem;
    margin-right: .1rem;
}
.more{
    display: block;
    width: 100%;
    height: .8rem;
    border: 0;
    border-radius: .3rem;
    margin: .4rem auto 1rem;
    background-color: #F54B5E;
    color: #fff;
}
.share-popup{
    width: 7.5rem;
    background-color: rgba(255,255,255,.9);
    position: absolute;
    bottom: -1rem;
    left: 0;
    padding: .6rem .4rem .2rem;
    display: block;
    /*box-shadow: 4px -.2rem .8rem .6rem #fff;*/
    z-index: 100;
}
.subtit img{
    width: .4rem!important;
    height: .4rem;
}
.share-popup .tit{
    text-align: center;
    font-size: .4rem;
    color: #F54B5E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share-popup .subtit{
    margin-top: .1rem;
    text-align: center;
}
.share-popup .subtit p{
    text-align: center;
    font-size: .3rem;
    color: #F54B5E;
    padding-bottom: .1rem;
    border-bottom: 1px solid #F54B5E;
}
.share-con{
    padding: .2rem 0;
}
.share-cancel{
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    background-color: #fff;
    color: #333;
}
.the_refresh{
    height: .6rem;
    display: flex;
    align-items: center;
    background-color: rgba(245, 75, 94, .8);
    border-radius: 1rem;
    border:0;
    color: #fff;
}
.the_refresh i{
    color: #fff;
    font-weight: bold;
}
.advertising-box{
    display: none;
}
.bottom-advertising{
    width: 7.5rem;
    background-color: #bca9a9;
    position: fixed;
    top: .88rem;
    left: 0;
    padding: .1rem .2rem;
    display: flex;
    align-items: center;     /* 垂直居中 */
    left: 50%;
    transform: translateX(-50%);
}
.advertising-img{
    width: 1rem;
    height: 1rem;
    margin-right: .2rem;
}
.advertising-title h6{
    color: #F54B5E;
    font-size: .32rem;
    font-style:italic;
    font-weight: bold;
}
.advertising-title p{
    color: #fff;
    font-size: .28rem;
    font-weight: bold;
}
.advertising-title img{
    position: absolute;
    top: 0;
    right: .1rem;
    width: .76rem;
    height: .76rem;
}
/*视频单个*/
.v-content-box{
    padding: .4rem;
    background-color: #fff;
}
.v-content-box h2,.video-ranking-content h2,.image-content h2,.section-imageText h2{
    text-align: center;
    font-size: .4rem;
}
.video-top{
    text-align: center;
}
.share-btn a{
    color: #fff;
}
.share-btn{
    width: 100%;
    margin-top: .2rem;
    background: #F54B5E;
    border-radius: 1rem;
    border: 0;
    color: #fff;
}
.download-btn{
    margin-top: .2rem;
}
.video-list{
    margin-top: .2rem;
    padding: .2rem .4rem;
    background-color: #fff;
}
.video-list-title{
    padding: 0 .6rem .2rem;
    border-bottom: 1px solid #ccc;
}
.video-list-title{
    display: flex;
    align-items: center;
}
.video-list-title button,.d_video_list button{
    margin-left: auto;
    border-radius: 1rem;
    height: .5rem;
    border:0;
    display: flex;
    align-items: center;
}
.d_video_list li a{
    display: flex;
    text-decoration:none;
}
.d_video_list li img{
    margin-right: .2rem;
    width: 2rem;
    height: 3rem;
}
.d_video_list li h6{
    color: #000;
    font-size: .3rem;
}
.d_video_list li p{
    font-size: .26rem;
    overflow : hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 行数*/
    -webkit-box-orient: vertical;
}
.video-list-title button{
    background-color: #F54B5E;
    color: #fff;
    height: .4rem;
    display: flex;
    align-items: center;
}
.video-list-title a{
    color: #fff;
}
.video-list-title span,.video-list-title a{
    font-size: .24rem;
}
.d_video_list li{
    padding: .2rem .3rem;
}
.d_video_list a{
    color: #333;
    text-decoration:underline;
}
/*纯图模式*/
.image-content{
    padding: .4rem;
    position: relative;
}
.image-content img{
    width: 100%;
    margin-bottom: .3rem;
}
/* 视频列表*/
.video-ranking-content{
    padding: .4rem;
}
.video-ranking-list li{
    margin-bottom: .2rem;
    text-align: center;
}
.video-ranking-list li img{
    margin-right: .4rem;
}
.v-ranking-top{
    display: flex;
    align-items: center;
}
.v-ranking-box{
    width: 100%;
    margin-top: .2rem;
}
.v-ranking-top .v-ranking-top-title{
    font-weight: bold;
}
.v-ranking-top div{
    margin-left: auto;
    color: #F54B5E;
}
.v-ranking-top div i{
    color: #F54B5E;
    font-size:.28rem;
}
.v-ranking-top div a{
    display: inline-block;
    padding: .02rem .3rem;
    border-radius: .3rem;
    color: #000;
    border:1px solid #F54B5E;
}
.v-ranking-top div a span{
    font-size: .2rem;
}
.video-ranking-list p{
    margin-top: .2rem;
    color: #000;
}
/*
    新增样式
    2020-09-21
*/
.fx_sidebar{
    position: fixed;
    right: .2rem;
    bottom: 1.2rem;
    background-color: rgba(0,0,0,.6);
    border-radius: .6rem;
    padding: .2rem .1rem 0;
    text-align: center;
    z-index: 101;
}
.fx_sidebar p{
    margin: 0;
    color: #fff;
}
.fx_sidebar li{
    margin-bottom: .2rem;
}
.fx_sidebar li:last-child{
    margin: .4rem 0;
}
.not_shown{
    display: none;
}
.whatsapp_group_chat a{
    display: block;
    width: 7.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #F54B5E;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}
.group_chat_img{
    width: 1rem;
    height: 1rem;
    margin-right: .2rem;
}
.join_group_chat{
    width: .6rem;
    height: .6rem;
    margin-left: auto;
    margin-right: .2rem;
}
.wg_chat_content p{
    color: #fff;
    font-size: .2rem;
}
.wg_chat_content h6{
    color: #000;
    font-size: .2rem;
}
.mui-toast-container {
    bottom: 50% !important;
}

.mui-toast-message {
    opacity: 1;
    color: #fff;
    background-color: #F54B5E;
}
.fx_popover_box{
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 102;
}
.fx_popover{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
}
.fx_popover .popover_content{
    padding: .4rem 0 .2rem;
    width: 4rem;
    text-align: center;
    background-color: #fff;
    border-radius: .4rem;
    border: 3px solid #F54B5E;
    position: relative;
}
.popover_content .fx_popover_close{
    position: absolute;
    right: .1rem;
    top: .1rem;
}
.popover_content .fx_popover_hint{
    margin-bottom: .4rem;
}
.popover_content .fx_popover_btn{
    border: 0;
    background-color: #F54B5E;
}
.popover_content .fx_popover_btn a{
    color: #fff;
}
